<%- include('../partials/header') %>

<h1>UPCOMING LAUNCHES</h1>
<table class="upcoming-launches">
    <thead>
        <tr>
            <th>ROCKET MISSION</th>
            <th>AGENCY</th>
            <th>LOCATION</th>
            <th>DATE</th>
            <th>TIME</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <% launchData.launches.forEach(function(l) { %>
        <tr>
            <td><%= l.name %></td>
            <td><%= l.lsp.name %></td>
            <td><%= l.location.name %></td>
            <td><%= (new Date(l.windowstart)).toDateString() %></td>
            <td><%= (new Date(l.windowstart)).toLocaleTimeString() %></td>
            <td><a class="details-link" href="/launches/<%= l.id %>">DETAILS</a></td>

            <td> <% if (user && user.favorites.indexOf(l.id) === -1) { %>
                <form method="POST" action="/favorites/<%= l.id %>">
                    <input type="hidden" name="favorites" value="<%= l.id %>" />
                    <input class="watch-btn" type="submit" value="watch" />
                </form>
                <% } else if (user) { %>
                <form method="POST" action="/favorites/delete/<%= l.id %>">
                    <input type="hidden" name="favorites" value="<%= l.id %>" />
                    <input class="alreadywatching-btn" type="submit" value="watching" />
                </form>
                <% }else{ %> Login to Watch <% } %>
            </td>
            <% }); %>
        </tr>

    </tbody>
</table>

<%- include('../partials/footer') %>